@import '../../../styles/mixins/colors.scss';
@import '../../../styles/mixins/padding.scss';

.container {
    @include Padding;
    padding-top: 219px;
    height: 100vh;
    background-image: url("/images/fundoWelcome.svg");
    background-repeat: no-repeat;
    background-size: cover; // rever
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.text {
    h1 {
        font-weight: bold;
        font-size: 71px;
    }

    p {
        font-size: 30px;
        opacity: 0.7;
    }
}

.image {
    text-align: end;
}