@import '../../../styles/mixins/colors.scss';
@import '../../../styles/mixins/padding.scss';
@import '../../../styles/mixins/responsive.scss';
@import '../../../styles/mixins/fonts.scss';

.container {
    @include Padding;
    padding-top: 219px;
    height: 100vh;
    background-image: url("/images/fundoWelcome.svg");
    background-repeat: no-repeat;
    background-size: cover; // rever
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include Phone {
        padding-top: 1rem;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }
}

.text {
    h1 {
        @include SizeExtra;
        font-weight: bold;
    }

    p {
        @include SizeNormal;
        opacity: 0.7;
    }
}

.image {
    text-align: end;

    @include Phone {
        text-align: center;
        grid-column: 1;
        grid-row: 1;
    }
}