@import "../../../styles/mixins/colors.scss";

.container {
    color: $whiteColor;
    padding: 34px 180px;
    width: 100%;
    background-color: $purpleColor;
    border-bottom: 0.5px solid $grayColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    font-size: 22px;

    a + a {
        margin-left: 38.9px;
    }
}