@import "../../../styles/mixins/colors.scss";
@import '../../../styles/mixins/padding.scss';

.container {
    @include Padding; // Mixin
    color: $whiteColor;
    padding-top: 34px;
    padding-bottom: 34px;
    width: 100%;
    background-color: $purpleColor;
    border-bottom: 0.5px solid $grayColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    font-size: 22px;

    a + a {
        margin-left: 38.9px;
    }
}