@import "../../../styles/mixins/colors.scss";
@import '../../../styles/mixins/padding.scss';
@import '../../../styles/mixins/responsive.scss';

.container {
    @include Padding; // Mixin
    color: $whiteColor;
    padding-top: 34px;
    padding-bottom: 34px;
    width: 100%;
    background-color: $purpleColor;
    border-bottom: 0.5px solid $grayColor;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include Phone {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.menu {
    font-size: 22px;

    a + a {
        margin-left: 38.9px;
    }

    @include Phone {
        display: none;
    }
}

.action {
    text-align: end;

    @include Phone {
        display: none;
    }
}