$purpleColor: #380158;
$purple2Color: #350053;
$purple3Color: #26003B;

$grayColor: #AFAFAF;
$gray2Color: #4A4A4A;
$gray3Color: #C9C9C9;
$gray4Color: #F7F7F7;
$gray5Color: #606060;

$greenColor: #0DC74F;
$green2Color: #0FCE33;
$green3Color: #0AAA28;

$whiteColor: #FFF;